html {
    background-color: #bbbbbb;
}

header {
    background-color: #aaaaaa;
}

button {
    border-color: #777777;
}

#left-side {
    float: left;
    /*margin-right: 20px;  Adjust as needed */
}

#right-side {
    float: left;
}

.black, .red {
    width: 30px;
    height: 30px;
    margin: 2px;
    color: white;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.bets {
    background-color: #0aab28;
    color: white;
}

#num0 {
    background-color: limegreen;
    color: white;
    width: 30px;
    height: 98px;
    margin: 2px;
    padding: 0;
}

#MANQUE, #ROUGE, #IMPAIR {
    margin: 2px;
    margin-right: 0px;
    width: 70px;
    height: 30px;
}

#NOIR, #PAIR, #PASSE {
    margin: 2px;
    margin-left: 0px;
    width: 70px;
    height: 30px;
}

#ROUGE {
    color: red;
}

#NOIR {
    color: black;
}

#row1, #row2, #row3 {
    margin: 2px;
    width: 30px;
    height: 30px;
}

#D1, #D2, #D3 {
    margin: 2px;
    width: 144px;
    height: 30px;
}

#spin {
    background-color: #0aa6ab;
    margin: 2px;
    color: white;
}

#balance {
    color: green;
}

footer {
    margin-top: 200px;
    text-align: left;
}
